h1{
    color:blue;
    text-align:center;
}
a:link,a:visited{
    background-color: brown;
    color:white;
    padding:14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover,a:active{
    background-color: chartreuse;
}
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  input{
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  label{
    color: blue;
    font-size: 22px;
    padding: 8px;
    text-align:left;
  }